Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [65]:
df.tail()

       bathrooms  bedrooms  ... total_rooms apartment_perks
49347        1.0         2  ...         3.0               3
49348        1.0         1  ...         2.0               0
49349        1.0         1  ...         2.0               0
49350        1.0         0  ...         1.0               0
49351        1.0         2  ...         3.0               1

[5 rows x 36 columns]

In [0]:
df['created'] = pd.to_datetime(df['created'], infer_datetime_format=True)
df.dtypes

In [0]:
df['total_rooms'] = df['bedrooms'] + df['bathrooms'] + df['dining_room']

In [57]:
df['description'].isnull().sum()

1425

In [0]:
train = df[pd.DatetimeIndex(df['created']).month.isin([4,5])]

In [0]:
test = df[pd.DatetimeIndex(df['created']).month.isin([6])]

In [14]:
df.shape

(48817, 34)

In [18]:
train.shape

(31844, 34)

In [20]:
test.shape

(16973, 34)

In [28]:
df['description'].isnull().sum()

1425

In [0]:
df['apartment_perks'] = df['hardwood_floors'] + df['dishwasher'] + df['laundry_in_unit'] + df['loft'] + df['balcony']

In [0]:
target = 'price'
features = ['total_rooms', 'apartment_perks']

X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [88]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

model = LinearRegression()

model.fit(X_train, y_train)
y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'Training Error: {mae:.2f} percentage points')

Training Error: 889.97 percentage points

In [89]:
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Test Error: {mae:.2f} percentage points')

Test Error: 900.75 percentage points

In [90]:
coefficient = model.coef_
intercept = model.intercept_
print(f'Model coefficient: {coefficient}, Model intercept: {intercept}')

Model coefficient: [738.79205011 121.29483121], Model intercept: 1336.9584287387602

In [94]:
#Regression metrics
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(test['price'], y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(test['price'], y_pred)
r2score = r2_score(test['price'], y_pred)
print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'Mean Absolute Error: {mae}')
print(f'R2 score: {r2score}')

Mean Squared Error: 1747035.6180362809
Root Mean Squared Error: 1321.7547495796189
Mean Absolute Error: 900.7481352126247
R2 score: 0.43789457424035994